@font-face {
  font-family: "Mulish-Bold";
  src: url(../assets/fonts/Mulish/static/Mulish-Bold.ttf);
}
@font-face {
  font-family: "Mulish-Regular";
  src: url(../assets/fonts/Mulish/static/Mulish-Regular.ttf);
}
